#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Add your global styles here */

/* TransactionTable.css */

/* Header Styles */
.table-heading {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Search Container Styles */
.search-container {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Table Styles (You can add more styles here) */
.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th, .transaction-table td {
  padding: 12px;
  border: 1px solid #ccc;
}

.transaction-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

